# THIS IS A FILE LISTING THE FILES TO IGNORE WHEN COMMITING 

# Log files  
*.log

# Data files 
*.dat
*.h5

#bibliography
*.pdf

# Mac stuff
*DS_Store*

#.images
*.png

#archives
*.zip
*.tar.xz
*.tar*

*.backup

#CMAke and Clion stuff
.idea/
build/
#!CMakeLists.txt
USING_HDF5_CMake.txt
cmake-build-debug/
venv/
#Doxygen output
doc/html
*.html
*.js
*.css

###########################################
# Github Template for C/C++
###########################################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/venv/
/build/

!/.images/logo/logo64x72.png
!/.images/logo/logo_png-01.png
!/.images/FlowchartTETHYS_2D.png
!/.images/FlowchartTETHYS_ELEC_2D.png
!/.images/UML_Class_Diagram.png
.vscode/settings.json
