# THIS IS A FILE LISTING THE FILES TO IGNORE WHEN COMMITING 

# Log files  
*.log

# Data files 
*.dat
*.h5

#bibliography
*.pdf

# Mac stuff
*DS_Store*

#.images
*.png

#archives
*.zip
*.tar.xz
*.tar*

*.backup

#VSCODE stuff
/src/.vscode
.vscode/settings.json


#CMAke and Clion stuff
.idea/
build/
#!CMakeLists.txt
USING_HDF5_CMake.txt
cmake-build-debug/
cmake-build-debug-coverage/
venv/
#Doxygen output
cmake-build-debug/doc_sphinx
doc/html
*.html
*.js
*.css

###########################################
# Github Template for C/C++
###########################################

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/venv/
/build/

!/.images/logo/logo64x72.png
!/.images/logo/logo_png-01.png
!/.images/FlowchartTETHYS_2D.png
!/.images/FlowchartTETHYS_ELEC_2D.png
!/.images/UML_Class_Diagram.png

/doc/xml/dc/dcb/2nd_derivative_8txt.xml
/doc/xml/d8/d49/3rd_derivative_8txt.xml
/doc/xml/d9/d94/_boundary_lib_8cpp.xml
/doc/xml/d8/d3f/_boundary_lib_8cpp_8o_8d.xml
/doc/xml/df/dbd/_boundary_lib_8h.xml
/doc/xml/dd/d68/_c_make_lists_8txt.xml
/doc/xml/d2/da7/_c_o_n_t_r_i_b_u_t_i_n_g_8md.xml
/doc/xml/d5/dc8/_c_test_cost_data_8txt.xml
/doc/xml/d8/deb/_cell1_d_lib_8cpp_8o_8d.xml
/doc/xml/da/d14/_cell1_d_lib_n_o_t_8cpp.xml
/doc/xml/d3/d86/_cell2_d_lib_n_o_t_8cpp.xml
/doc/xml/da/d39/_dirac_graphene2_d_lib_8cpp.xml
/doc/xml/d7/d7f/_dirac_graphene2_d_lib_8h.xml
/doc/xml/dd/d5a/_dirichlet_boundary_lib_8cpp.xml
/doc/xml/dd/d50/_dirichlet_boundary_lib_8cpp_8o_8d.xml
/doc/xml/d0/df4/_dirichlet_boundary_lib_8h.xml
/doc/xml/d4/dc1/_dyakonov_shur_boundary_lib_8cpp.xml
/doc/xml/d8/d82/_dyakonov_shur_boundary_lib_8cpp_8o_8d.xml
/doc/xml/dd/dd1/_dyakonov_shur_boundary_lib_8h.xml
/doc/xml/df/d26/_e___h___planes__n_0a1_80___d___cond_0a0_80___r___cond_0a0_80_8txt.xml
/doc/xml/d0/ddd/_electric_lib_8cpp.xml
/doc/xml/dc/d6d/_electric_lib_8h.xml
/doc/xml/d7/d8a/_feedback_boundary_lib_8cpp.xml
/doc/xml/d8/de6/_feedback_boundary_lib_8cpp_8o_8d.xml
/doc/xml/da/dbd/_feedback_boundary_lib_8h.xml
/doc/xml/dc/dec/_fluid1_d_lib_8cpp.xml
/doc/xml/dd/d85/_fluid1_d_lib_8cpp_8o_8d.xml
/doc/xml/d1/de1/_fluid1_d_lib_8h.xml
/doc/xml/d3/d7e/_fluid2_d_lib_8cpp.xml
/doc/xml/d3/d43/_fluid2_d_lib_8cpp_8o_8d.xml
/doc/xml/d0/dfa/_fluid2_d_lib_8h.xml
/doc/xml/dd/dcf/_graphene_fluid1_d_lib_8cpp.xml
/doc/xml/de/d74/_graphene_fluid1_d_lib_8cpp_8o_8d.xml
/doc/xml/d4/d66/_graphene_fluid1_d_lib_8h.xml
/doc/xml/d2/d9f/_graphene_fluid2_d_lib_8cpp.xml
/doc/xml/d9/dec/_graphene_fluid2_d_lib_8cpp_8o_8d.xml
/doc/xml/d3/dda/_graphene_fluid2_d_lib_8h.xml
/doc/xml/d4/de5/_grid_lib_8cpp.xml
/doc/xml/d7/d5a/_grid_lib_8cpp_8o_8d.xml
/doc/xml/d8/d3a/_grid_lib_8h.xml
/doc/xml/d8/ddc/_initial_condition_lib_8cpp.xml
/doc/xml/d4/d57/_initial_condition_lib_8h.xml
/doc/xml/d3/d45/_robin_boundary_lib_8cpp.xml
/doc/xml/d6/dbb/_robin_boundary_lib_8h.xml
/doc/xml/dc/d01/_s__360__n_0a1_80___d___cond_0a0_80___r___cond_0a0_80_8txt.xml
/doc/xml/d9/d19/_set_up_parameters_lib_8cpp.xml
/doc/xml/d8/daf/_set_up_parameters_lib_8cpp_8o_8d.xml
/doc/xml/d1/df3/_set_up_parameters_lib_8h.xml
/doc/xml/db/db8/_state_vec1_d_lib_8cpp.xml
/doc/xml/d3/dee/_state_vec1_d_lib_8cpp_8o_8d.xml
/doc/xml/d4/dfa/_state_vec1_d_lib_8h.xml
/doc/xml/d6/d9a/_state_vec2_d_lib_8cpp.xml
/doc/xml/d1/dd6/_state_vec2_d_lib_8cpp_8o_8d.xml
/doc/xml/d4/dfc/_state_vec2_d_lib_8h.xml
/doc/xml/da/db4/_state_vec_8h.xml
/doc/xml/dc/dd0/_t_e_s_t__main_8cpp.xml
/doc/xml/d5/d50/_t_e_t_h_y_s__1_d___main__v262_8cpp.xml
/doc/xml/d3/d3d/_t_e_t_h_y_s__1_d___main__v262_8cpp_8o_8d.xml
/doc/xml/d7/d18/_t_e_t_h_y_s__2_d___dirac__main_8cpp.xml
/doc/xml/d8/d69/_t_e_t_h_y_s__2_d___electronic_analysis_8cpp.xml
/doc/xml/dc/d6b/_t_e_t_h_y_s__2_d___main__v262_8cpp.xml
/doc/xml/d8/dcc/_t_e_t_h_y_s__2_d___main__v262_8cpp_8o_8d.xml
/doc/xml/d5/d8c/_tethys_base_lib_8cpp.xml
/doc/xml/db/d8f/_tethys_base_lib_8cpp_8o_8d.xml
/doc/xml/d9/d03/_tethys_base_lib_8h.xml
/doc/xml/d8/d73/_tethys_math_lib_8cpp.xml
/doc/xml/d7/d36/_tethys_math_lib_8cpp_8o_8d.xml
/doc/xml/d6/d57/_tethys_math_lib_8h.xml
/doc/xml/d0/de3/citelist.xml
/doc/xml/db/d64/class_boundary_condition.xml
/doc/xml/dd/db7/class_dirac_graphene2_d.xml
/doc/xml/d6/d8f/class_dirichlet_boundary_condition.xml
/doc/xml/da/df2/class_dyakonov_shur_boundary_condition.xml
/doc/xml/d2/de1/class_electro_analysis.xml
/doc/xml/d3/d48/class_feedback_boundary_condition.xml
/doc/xml/dc/d14/class_fluid1_d.xml
/doc/xml/de/d17/class_fluid2_d.xml
/doc/xml/d1/dd9/class_graphene_fluid1_d.xml
/doc/xml/d6/dfb/class_graphene_fluid2_d.xml
/doc/xml/d6/d7b/class_grid_point2_d.xml
/doc/xml/df/dff/class_initial_condition.xml
/doc/xml/d1/d84/class_math_utils.xml
/doc/xml/dd/dab/class_robin_boundary_condition.xml
/doc/xml/de/dc8/class_set_up_parameters.xml
/doc/xml/d2/d8e/class_set_up_parameters_c_n_p.xml
/doc/xml/d3/d7a/class_state_vec.xml
/doc/xml/d4/d07/class_state_vec1_d.xml
/doc/xml/dc/d9e/class_state_vec2_d.xml
/doc/xml/df/d84/class_tethys_base.xml
/doc/xml/d2/dcf/clion-_debug-_coverage-log_8txt.xml
/doc/xml/de/d0a/clion-_debug-log_8txt.xml
/doc/xml/d1/dfe/clion-log_8txt.xml
/doc/xml/d6/d04/cmake-build-debug-coverage_2_c_make_cache_8txt.xml
/doc/xml/da/d6d/cmake-build-debug-coverage_2_c_make_files_2_find_open_m_p_2_open_m_p_check_version_8c.xml
/doc/xml/dd/d32/cmake-build-debug-coverage_2_c_make_files_2_find_open_m_p_2_open_m_p_check_version_8cpp.xml
/doc/xml/d9/d2c/cmake-build-debug-coverage_2_c_make_files_2_find_open_m_p_2_open_m_p_try_flag_8c.xml
/doc/xml/de/d8c/cmake-build-debug-coverage_2_c_make_files_2_find_open_m_p_2_open_m_p_try_flag_8cpp.xml
/doc/xml/d4/dcc/cmake-build-debug-coverage_2_c_make_files_2_t_e_t_h_y_s__1_d_8dir_2link_8txt.xml
/doc/xml/d6/dbf/cmake-build-debug-coverage_2_c_make_files_2_t_e_t_h_y_s__2_d_8dir_2link_8txt.xml
/doc/xml/d2/de7/cmake-build-debug-coverage_2_c_make_files_2_t_e_t_h_y_s__2_d___c_n_p_8dir_2link_8txt.xml
/doc/xml/d0/d59/cmake-build-debug-coverage_2_c_make_files_2_t_e_t_h_y_s___e_l_e_c__2_d_8dir_2link_8txt.xml
/doc/xml/d5/d75/cmake-build-debug-coverage_2_c_make_files_2_target_directories_8txt.xml
/doc/xml/d4/d85/cmake-build-debug-coverage_2_c_make_files_2clion-environment_8txt.xml
/doc/xml/da/db0/cmake-build-debug-coverage_2_c_make_files_2hdf5_2cmake__hdf5__test_8cxx.xml
/doc/xml/d7/d45/cmake-build-debug-coverage_2_c_make_files_2tethys__library_8dir_2link_8txt.xml
/doc/xml/d0/d2a/cmake-build-debug-coverage_2_c_make_files_23_824_82_2_compiler_id_c_2_c_make_c_compiler_id_8c.xml
/doc/xml/d4/d0c/cmake-build-debug-coverage_2_c_make_files_23_824_82_2_compiler_id_c_x_x_2_c_make_c_x_x_compiler_id_8cpp.xml
/doc/xml/d9/d1a/cmake-build-debug_2_c_make_cache_8txt.xml
/doc/xml/d1/d3d/cmake-build-debug_2_c_make_files_2_find_open_m_p_2_open_m_p_check_version_8c.xml
/doc/xml/d8/d29/cmake-build-debug_2_c_make_files_2_find_open_m_p_2_open_m_p_check_version_8cpp.xml
/doc/xml/d6/d2c/cmake-build-debug_2_c_make_files_2_find_open_m_p_2_open_m_p_try_flag_8c.xml
/doc/xml/d4/dcc/cmake-build-debug_2_c_make_files_2_find_open_m_p_2_open_m_p_try_flag_8cpp.xml
/doc/xml/df/d91/cmake-build-debug_2_c_make_files_2_t_e_s_t__1d_8dir_2link_8txt.xml
/doc/xml/da/ddc/cmake-build-debug_2_c_make_files_2_t_e_s_t__laplacian_8dir_2link_8txt.xml
/doc/xml/d0/df2/cmake-build-debug_2_c_make_files_2_t_e_t_h_y_s__1_d_8dir_2link_8txt.xml
/doc/xml/df/d68/cmake-build-debug_2_c_make_files_2_t_e_t_h_y_s__2_d_8dir_2link_8txt.xml
/doc/xml/d5/dac/cmake-build-debug_2_c_make_files_2_t_e_t_h_y_s__2_d___c_n_p_8dir_2link_8txt.xml
/doc/xml/d3/d18/cmake-build-debug_2_c_make_files_2_t_e_t_h_y_s___dirac_8dir_2link_8txt.xml
/doc/xml/d4/d06/cmake-build-debug_2_c_make_files_2_t_e_t_h_y_s___e_l_e_c__2_d_8dir_2link_8txt.xml
/doc/xml/d3/dd1/cmake-build-debug_2_c_make_files_2_t_e_t_h_y_s___r_a_d_i_a_t_i_o_n__2_d_8dir_2link_8txt.xml
/doc/xml/d9/da9/cmake-build-debug_2_c_make_files_2_target_directories_8txt.xml
/doc/xml/d6/d2b/cmake-build-debug_2_c_make_files_2clion-environment_8txt.xml
/doc/xml/d3/db5/cmake-build-debug_2_c_make_files_2hdf5_2cmake__hdf5__test_8cxx.xml
/doc/xml/da/dfc/cmake-build-debug_2_c_make_files_2poly__library_8dir_2link_8txt.xml
/doc/xml/d1/d7b/cmake-build-debug_2_c_make_files_2tethys__library_8dir_2link_8txt.xml
/doc/xml/d5/d3f/cmake-build-debug_2_c_make_files_23_820_82_2_compiler_id_c_2_c_make_c_compiler_id_8c.xml
/doc/xml/d1/dc1/cmake-build-debug_2_c_make_files_23_820_82_2_compiler_id_c_x_x_2_c_make_c_x_x_compiler_id_8cpp.xml
/doc/xml/d7/d84/cmake-build-debug_2_c_make_files_23_821_81_2_compiler_id_c_2_c_make_c_compiler_id_8c.xml
/doc/xml/de/dc2/cmake-build-debug_2_c_make_files_23_821_81_2_compiler_id_c_x_x_2_c_make_c_x_x_compiler_id_8cpp.xml
/doc/xml/df/da6/cmake-build-debug_2_c_make_files_23_822_83_2_compiler_id_c_2_c_make_c_compiler_id_8c.xml
/doc/xml/d0/d4e/cmake-build-debug_2_c_make_files_23_822_83_2_compiler_id_c_x_x_2_c_make_c_x_x_compiler_id_8cpp.xml
/doc/xml/df/d3a/cmake-build-debug_2_c_make_files_23_823_82_2_compiler_id_c_2_c_make_c_compiler_id_8c.xml
/doc/xml/db/d65/cmake-build-debug_2_c_make_files_23_823_82_2_compiler_id_c_x_x_2_c_make_c_x_x_compiler_id_8cpp.xml
/doc/xml/d1/d9d/cmake-build-debug_2_c_make_files_23_824_82_2_compiler_id_c_2_c_make_c_compiler_id_8c.xml
/doc/xml/da/d8e/cmake-build-debug_2_c_make_files_23_824_82_2_compiler_id_c_x_x_2_c_make_c_x_x_compiler_id_8cpp.xml
/doc/xml/combine.xslt
/doc/xml/compound.xsd
/doc/xml/d7/d86/description.xml
/doc/xml/d6/d49/description_8md.xml
/doc/xml/dir_0e2b1c0677bd74eb9945aac88cf7b4c5.xml
/doc/xml/dir_0e50e9275d152c992ee8b0c6707eb9d7.xml
/doc/xml/dir_0ecce6c009ea5a47db17586b067e19b3.xml
/doc/xml/dir_3a8feefd1cb361d121d387a3d880dbce.xml
/doc/xml/dir_3c9f3ed66bc349525b536302ffbe5a4f.xml
/doc/xml/dir_4c2894e9ca13e405c19b45dc869d1f89.xml
/doc/xml/dir_9fb077707694d20b7a13b312a4d64457.xml
/doc/xml/dir_09d7f981e57c292555328441580d308b.xml
/doc/xml/dir_31dbc5fdfe789ab44a54abb81e479a06.xml
/doc/xml/dir_32a72d974130b71e7e801bb7ff882b5a.xml
/doc/xml/dir_59dc6fcc83246be1771c8295efb81319.xml
/doc/xml/dir_67d1545a51c75696597fd18583501dd9.xml
/doc/xml/dir_95e29a8b8ee7c54052c171a88bb95675.xml
/doc/xml/dir_720d36405d39524b939e0100a25cf975.xml
/doc/xml/dir_908db27abab8dc5914ca83681355b685.xml
/doc/xml/dir_2254ed4c86842eb07fcb8e0eac2ef2c8.xml
/doc/xml/dir_6606b75e902d69609369beeeb310c058.xml
/doc/xml/dir_6808ec898fbc3e33d5f23ff678fb6322.xml
/doc/xml/dir_7262f39b0a7b0ea31f0e82f96c7d5527.xml
/doc/xml/dir_9756b2e6bf3957c50dc5a46b179969f2.xml
/doc/xml/dir_12479a548f3ea51e0b26bda60d4e40f2.xml
/doc/xml/dir_68267d1309a1af8e8297ef4c3efbcdba.xml
/doc/xml/dir_92783a7f0bdbd695c15c971f7f535748.xml
/doc/xml/dir_a06d79cb4827712c2a622e899b9fe188.xml
/doc/xml/dir_b006a78b48644dec974b8158d0da2bc7.xml
/doc/xml/dir_b68767efdd3d99ccfb48f00f85c5f695.xml
/doc/xml/dir_bb370d81947ca0672efa83b929db0b5e.xml
/doc/xml/dir_bbb7642600419f71c1dd986e790f8d84.xml
/doc/xml/dir_bc129ef75d2ca24d1782e4f049471639.xml
/doc/xml/dir_bd36a8115b9e41621e8e7d4447019e35.xml
/doc/xml/dir_bf59d41d727aac54882b42f236ae575e.xml
/doc/xml/dir_c40b3ae2fb429d289fdc042a2ef55b75.xml
/doc/xml/dir_c840fe33e41efafd09f6df2823d380b3.xml
/doc/xml/dir_cb8aebdcbcd7898634ff25bad2892a2f.xml
/doc/xml/dir_d3b72820c215177dbc40bfa7f2026b21.xml
/doc/xml/dir_d62d15cbec96497f2ff12b20d13f3089.xml
/doc/xml/dir_d90fcc4c95e9354acdaa3401d2122fff.xml
/doc/xml/dir_d96fba44e3db6aa15b4310367e1140cd.xml
/doc/xml/dir_d4125ec9b3f45dace924768536642ec1.xml
/doc/xml/dir_d006503333edcf0ee93602f4cf2a7913.xml
/doc/xml/dir_dab25727bb388f457af9c8dc5a79b025.xml
/doc/xml/dir_e4db62497e01360de151742c4c9ede63.xml
/doc/xml/dir_e6e80317bfa5abd5b00042c81b9d5717.xml
/doc/xml/dir_e68e8157741866f444e17edd764ebbae.xml
/doc/xml/dir_e803b129a05e6d238f189a0abd7af1b5.xml
/doc/xml/dir_ef149a07091fb17a2dc988f3aae7764d.xml
/doc/xml/dir_f11c777fce67e562a902e75c4228ae54.xml
/doc/xml/dir_f89abcb304c928c7d889aa5625570de5.xml
/doc/xml/dir_f95e38486d2cbcc1023c751a59ed15a3.xml
/doc/xml/dir_fb2434d8b6c5d12d1eeb8cd79949bb81.xml
/doc/xml/dir_fcff7e154a7353844f044da84a1568dc.xml
/doc/xml/dd/d77/hdf5__heat__plotter__animation_8py.xml
/doc/xml/dd/d57/hdf5__velocity__1_d__plotter__animation_8py.xml
/doc/xml/index.xml
/doc/xml/index.xsd
/doc/xml/indexpage.xml
/doc/xml/dc/dc6/mainpage_8md.xml
/doc/xml/d6/dcd/md__c_o_n_t_r_i_b_u_t_i_n_g.xml
/doc/xml/d2/d5a/namespace_h5.xml
/doc/xml/de/d03/namespacehdf5__heat__plotter__animation.xml
/doc/xml/dd/dac/namespacehdf5__velocity__1_d__plotter__animation.xml
/doc/xml/d8/dcc/namespacestd.xml
/doc/xml/d1/d1e/numericalmethods.xml
/doc/xml/d6/d3a/numericalmethods_8md.xml
/doc/xml/d2/d28/struct_physical_parameters.xml
/doc/xml/xml.xsd
